body{
    margin: 0;
    padding: 0;
}

.navbar-me {
    /*background: rgba(0,0,0,.2);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar-me:hover {
    background: rgba(0,0,0,.2);
}

.logo{
    display: flex;
    flex-direction: row;
}

.logo img {
    height: 40px;
}

.bx{
    font-size: 26px;
    color: #fff;
    padding: 21px 12px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    line-height: 70px;
}

.menu li {
    margin-right: 5px;
}

.menu li a {
    color: #fafafa;
    text-decoration: none;
    font-size: 18px;
    padding: 0 1rem;
}

.icons img {
    height: 30px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /*top: 70px;*/
}

.dropdown-content a {
    color: #4e565f !important;
    padding: 0 16px !important;
    text-decoration: none !important;
    display: block;
    line-height: 40px;
}

/*.dropdown:hover .dropdown-content {*/
/*  display: block;*/
/*}*/

.dropdown.active .dropdown-content {
    /*display: block;*/
    display: flex;
}

li.dropdown.active>a{
    background-color: #61a861;
    color: #fff;
}
li.dropdown.active {
    background-color: #61a861;
}

.banner{
    top: 0;
    position: absolute;
}

#login{
    margin-top: -15px;
}

#login a{
    text-decoration: none;
}

.banner-content{
    position: relative;
}

.banner-search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: #f9f9f9;
    left: 30%;
}

.banner-header {
    font-size: 18px;
}

.banner-search h1{
    font-size: 45px;
    max-width: 700px
}

a.list-group-item.text-uppercase {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

a.list-group-item {
    background: rgba(40,44,39,.502);
}

.input-elevated{
    font-size: 16px;
    line-height: 1.5;
    border: none;
    background: #FFFFFF;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 20px 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
    border-radius: 5px;
    width: 100%;
    padding: .5em 1em .5em 2.5em;
}

.input-elevated::placeholder{
    color: #838D99;
}

.input-elevated:focus {
    outline: none;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
}

/*login*/
.login-form {
    display: none;
    position: absolute;
    top: 11%;
    left: 80%;
    right: 10px;
    /*transform: translate(-4%, -50%);*/
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

/*.login-form button {*/
/*    padding: 10px 20px;*/
/*    background-color: #007bff;*/
/*    color: #fff;*/
/*    border: none;*/
/*}*/

#myCard {
    display: none;
    width: 330px;
    position: absolute;
    right: 8px;
}

.card-header{
    background-color: #94b974 !important;
    border: 1px solid #94b974 !important;
    text-align: center;
    color: #fff !important;
}

ul.list-group {
    list-style: none;
}

.item-drop {
    width: 196px;
    border-right: 1px solid rgba(190,195,200,.2);
}

.item-drop h2{
    color: #999999;
    font-size: 15px;
    padding: 10px 16px;
    text-transform: uppercase;
}

.list-group li a{
    font-size: 14px;
    color: #4e565f;
}